kind: Deployment
apiVersion: apps/v1
metadata:
  name: apache-deployment
  namespace: nginx
spec:
  replicas: 1
  selector:
    matchLabels:
      app: apache
  template:
    metadata:
      labels:
        app: apache
    spec:
      containers:
      - name: apache-ctr
        image: httpd:2.4
        ports:
          - containerPort: 80
